name: paginated_items_builder_demo
description: Demo app for the package paginated_items_builder

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  dio: ^4.0.4
  provider: ^6.0.2
  easy_container: ^1.0.0
  paginated_items_builder:
    path: "../"

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.4

flutter:
  uses-material-design: true
